.screen-wrapper {
    height: 90vh;
}

/* Hide content through opacity */
.hidden-at-start {
    opacity: 0;
}

/* To preserve image ratios */
.img-ratio {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}