/* Color Pallette */
body {
    background-color: #0D0D0D;
}

.navbar {
    background-color: #202529
}

.bg-skill {
    background-color: #646464;
}

.bg-proj {
    background-color: rgba(6, 18, 87, 0.253);
}

.bg-redeye {
    background-color: rgba(90, 0, 0, 0.137);
}

/* Home page vertical span */
.screen-wrapper {
    height: 100vh;
}

/* Hide content through opacity */
.hidden-at-start {
    display: none;
}

.invisible-at-start {
    opacity: 0;
}

/* Projects' thumbnails */
.proj-cover-1 {
    min-width: 40vw;
    height: 45vh;
    object-fit: cover;
}

.proj-contain-1 {
    min-width: 40vw;
    height: 45vh;
    object-fit: contain;
}

.proj-cover-2 {
    min-width: 27vw;
    height: 25vh;
    object-fit: cover;
}

.proj-contain-2 {
    min-width: 27vw;
    height: 25vh;
    object-fit: contain;
}

/* Embeded videos span vertically */
.iframe-16-9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.iframe-16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #646464;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background: #0D0D0D;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 54, 54);
}

/* Other Utility */
.rotated-90 {
    transform: rotate(-90deg);
}

.no-click{
    pointer-events: none;
}