body {
    background-color: #0D0D0D;
    height: 90vh;
    width: 98vw;
}

.screen-wrapper {
    height: 90vh;
}

.hidden-at-start {
    opacity: 0;
}

.img-ratio {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}